::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

input,
textarea {
  background: transparent;
  border-radius: 8px;
  outline: none;
}
input:focus,
textarea:focus{
  background: rgba(116, 29, 29, 0.5);
  border-radius: 8px;
  color: black;

}
button{
  
  color: white;
  outline: none;
}

